<mat-card class="card">
  <mat-card-header>
    <mat-card-title>【Q{{ index }}】{{ question.id }}: {{ question.text }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <label>
        回答：
        <select value="{{ answer }}" (change)="onChange($event)">
          <option *ngFor="let option of question.options; index as index" value="{{ option }}">
            {{ option }}
          </option>
        </select>
      </label>
    </form>
    <p>{{ changeResult() }}</p>
  </mat-card-content>
</mat-card>
